<div class="container d-flex flex-column bg-body main">
    <h1 class="mb-5">Редактирование категории расходов</h1>
    <input type="text" class="form-control mb-3" id="expense-cat" placeholder="Название...">
    <div class="d-flex">
        <button class="btn btn-success px-2 me-3 edit btn-earnings" type="button" id="save-button">Сохранить</button>
        <button class="btn btn-danger px-2 btn-earnings" type="button" id="cancel-button">Отмена</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modal-message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title text-center" id="exampleModalLabel">Редактирование категории расходов</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="popup-message">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>