
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 bg-body sidebar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="logo" src="static/images/logo.png" alt="логотип">
        </a>
        <hr>
        <div class="d-flex flex-column flex-shrink-0 p-3 mb-auto menu">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#/" class="nav-link link-body-emphasis" aria-current="page">
                        <img src="static/images/home-icon-dark.png" alt="Главная" style="vertical-align: inherit;">
                        Главная
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#/" class="nav-link link-body-emphasis">
                        <img src="static/images/p&l-icon.png" alt="Доходы и расходы">
                        Доходы & Расходы
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link arrow active">
                        Категории
                    </a>
                </li>
                <ul class="nav flex-column mb-auto sub-menu">
                    <li class="nav-item">
                        <a href="#/earnings" class="nav-link sub-menu-active">
                            Доходы
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/expenses" class="nav-link sub-menu-active">
                            Расходы
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="nav-link" id="balance">
            <strong>Баланс:</strong> <span>500$</span>
        </div>
        <hr>
        <div class="dropdown p-3 nav-link link-body-emphasis">
            <div id="user-info">
                <a href="" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="static/images/user-icon.png" alt="Аватар пользователя" width="32" height="32"
                         class="rounded-circle me-4">
                    RomanChernov
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column bg-body main">
        <h1 class="mb-5">Редактирование категории расходов</h1>
        <input type="text" class="form-control mb-3" id="add-profit-cat" placeholder="Название...">
            <div class="d-flex">
                <button class="btn btn-success px-2 me-3 edit btn-earnings" type="button">Создать</button>
                <button class="btn btn-danger px-2 btn-earnings" type="button">Удалить</button>
            </div>
    </div>
</main>
