<div class="container d-flex flex-column bg-body main">
    <h1 class="mb-5">Расходы</h1>
    <div class="d-flex flex-row flex-wrap justify-content-start column-gap-3" id="categories-block">
        <!-- сюда попадут блоки с затратами -->
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="d-flex modal-content rounded-4 text-center popup">
            <h3 class="mt-5 mb-4">
                Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.
            </h3>
            <div class="d-flex mb-5 justify-content-center g-1">
                <button class="btn btn-success px-2 me-3 edit btn-earnings" type="button" id="delete">Да, удалить
                </button>
                <button class="btn btn-danger px-2 edit btn-earnings" type="button" id="cancel">Не удалять</button>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="d-flex modal-content rounded-4 text-center popup">
            <h3 class="mt-5 mb-4" id="error-message">Текст ошибки</h3>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modal-message">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title text-center" id="exampleModalLabel">Удаление категории</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="popup-message">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>