<main class="form-signin w-100 m-auto text-center main">
    <form>
        <img class="mb-5" src="static/images/logo.png" alt="Логотип">
        <h1 class="mb-3">Вход</h1>

        <div class="form-field">
            <div class="field-icon my-form-field"><img src="static/images/form-field-email.png" alt=""></div>
            <input type="email" class="form-control" id="email" placeholder="Электронная почта">
            <div class="error">Введите правильную электронную почту</div>
        </div>
        <div class="form-field my-form-field">
            <div class="field-icon"><img src="static/images/form-field-psw.png" alt=""></div>
            <input type="password" class="form-control" id="password" placeholder="Пароль">
            <div class="error">Введите правильный пароль</div>
        </div>

        <div class="form-check text-start">
            <input class="form-check-input" type="checkbox" value="remember-me" id="checkbox">
            <label class="form-check-label" for="checkbox">
                Запомнить меня
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2 mt-3 btn-my disabled" id="process" type="submit">Войти</button>
        <div class="no-acc">Еще нет аккаунта? <a href="#/signup">Пройдите регистрацию</a></div>
    </form>
</main>
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="d-flex modal-content rounded-4 text-center popup">-->
<!--            <h3 class="mt-5 mb-4" id="error-message">Текст ошибки</h3>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->