<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 bg-body sidebar">
        <a href="#/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="logo" src="static/images/logo.png" alt="логотип">
        </a>
        <hr>
        <div class="d-flex flex-column flex-shrink-0 p-3 mb-auto menu">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">
                        <img src="static/images/home-icon.png" alt="Главная" style="vertical-align: inherit;">
                        Главная
                    </a>
                </li>

                <li>
                    <a href="#/p&l" class="nav-link link-body-emphasis">
                        <img src="static/images/p&l-icon.png" alt="Доходы и расходы">
                        Доходы & Расходы
                    </a>
                </li>
                <li>
                    <a href="#/expenses" class="nav-link link-body-emphasis arrow">
                        Категории
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-link" id="balance">
            <strong>Баланс:</strong> <span id="balance-value">400$</span>
        </div>
        <hr>
        <div class="dropdown p-3 nav-link link-body-emphasis">
            <div id="user-info">
                <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="static/images/user-icon.png" alt="Аватар пользователя" width="32" height="32"
                         class="rounded-circle me-2">
                    <span class="text-truncate " id="userFullName">RomanChernov</span>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-shrink-0 bg-body main">
        <h1>Главная</h1>
        <div class="bd-example border-0 range-buttons mb-5 top-60">
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="today">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="week">Неделя</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="month">Месяц</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="year">Год</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="all">Все</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="period">Интервал</button>
            <span>c</span>
            <input type="date" id="periodFrom" placeholder="Дата">
            <span>по</span>
            <input type="date" id="periodTo" placeholder="Дата">
        </div>
        <div class="d-flex justify-content-between charts">
            <div style="width: 437px;">
                <div class="d-flex flex-column">
                    <h3 id="income-block">Доходы</h3>
                    <canvas id="earnings-chart">Здесь диаграмма доходов</canvas>
                </div>
            </div>
            <div class="separator"></div>
            <div style="width: 437px;">
                <div class="d-flex flex-column">
                    <h3 id="expenses-block">Расходы</h3>
                    <canvas id="expenses-chart">Здесь диаграмма расходов</canvas>
                </div>
            </div>
        </div>
    </div>
</main>

