<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 bg-body sidebar">
        <a href="#/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="logo" src="static/images/logo.png" alt="логотип">
        </a>
        <hr>
        <div class="d-flex flex-column flex-shrink-0 p-3 mb-auto menu">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#/" class="nav-link link-body-emphasis" aria-current="page">
                        <img src="static/images/home-icon-dark.png" alt="Главная" style="vertical-align: inherit;">
                        Главная
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active">
                        <img src="static/images/p&l-icon-white.png" alt="Доходы и расходы">
                        Доходы & Расходы
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#/earnings" class="nav-link link-body-emphasis arrow">
                        Категории
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-link" id="balance">
            <strong>Баланс:</strong> <span id="balance-value">400$</span>
        </div>
        <hr>
        <div class="dropdown p-3 nav-link link-body-emphasis">
            <div id="user-info">
                <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="static/images/user-icon.png" alt="Аватар пользователя" width="32" height="32"
                         class="rounded-circle me-2">
                    <span class="text-truncate" id="userFullName">RomanChernov</span>

                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" >Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column bg-body main">
        <h1 class="mb-5">Доходы и расходы</h1>
            <div class="d-flex mb-5">
                <button class="btn btn-success p-2 me-3 edit btn-earnings" id="add-income">Создать доход</button>
                <button class="btn btn-danger p-2 edit btn-earnings" id="add-expense">Создать расход</button>
            </div>
        <div class="bd-example border-0 range-buttons mb-5">
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="today">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="week">Неделя</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="month">Месяц</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="year">Год</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="all">Все</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="period">Интервал</button>
            <span>c</span>
            <input type="date" id="periodFrom" placeholder="Дата">
            <span>по</span>
            <input type="date" id="periodTo" placeholder="Дата">
        </div>
            <table class="table text-center table-hover table-sm" id="table-pl">
            <thead>
            <hr>
            <tr>
                <th scope="col" class="col-2">№ операции</th>
                <th scope="col" class="col-1">Тип</th>
                <th scope="col" class="col-2">Категория</th>
                <th scope="col" class="col-1">Сумма</th>
                <th scope="col" class="col-1">Дата</th>
                <th scope="col" class="col-5">Комментарий</th>
                <th scope="col" class="col-1"></th>
            </tr>
            </thead>
            <tbody id="tbody">
<!--            <tr>-->
<!--                <th>1</th>-->
<!--                <td class="income">доход</td>-->
<!--                <td>зарплата</td>-->
<!--                <td>500$</td>-->
<!--                <td>11.09.2022</td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                    <div class="d-flex">-->
<!--                        <a href="#" id="delete-1" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="me-3"><img src="static/images/trash-icon.png" alt="удалить"></a>-->
<!--                        <a href="#/edit-p&l" id="edit-1"><img src="static/images/pen-icon.png" alt="редактировать"></a>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="d-flex modal-content rounded-4 text-center popup">
            <h3 class="mt-5 mb-4">Вы действительно хотите удалить операцию?</h3>
            <div class="d-flex mb-5 justify-content-center g-1">
                <button class="btn btn-success px-2 me-3 edit btn-earnings" type="button" id="delete">Да, удалить</button>
                <button class="btn btn-danger px-2 edit btn-earnings" type="button" id="cancel">Не удалять</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modal-message">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title text-center" id="exampleModalLabel">Удаление категории</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"  id="popup-message">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>