    <div class="container d-flex flex-column bg-body main">
        <h1 class="mb-5">Доходы и расходы</h1>
            <div class="d-flex mb-5">
                <button class="btn btn-success p-2 me-3 edit btn-earnings" id="add-income">Создать доход</button>
                <button class="btn btn-danger p-2 edit btn-earnings" id="add-expense">Создать расход</button>
            </div>
        <div class="bd-example border-0 range-buttons mb-5">
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="today">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="week">Неделя</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="month">Месяц</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="year">Год</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="all">Все</button>
            <button type="button" class="btn btn-outline-secondary m-2 medium" id="period">Интервал</button>
            <span>c</span>
            <input type="date" id="periodFrom" placeholder="Дата">
            <span>по</span>
            <input type="date" id="periodTo" placeholder="Дата">
        </div>
        <div id="emptyText" class="display-4">Нет записей в выбранном диапазоне</div>

            <table class="table text-center table-hover table-sm" id="table-pl">
            <thead>
            <hr>
            <tr>
                <th scope="col" class="col-2">№ операции</th>
                <th scope="col" class="col-1">Тип</th>
                <th scope="col" class="col-2">Категория</th>
                <th scope="col" class="col-1">Сумма</th>
                <th scope="col" class="col-1">Дата</th>
                <th scope="col" class="col-5">Комментарий</th>
                <th scope="col" class="col-1"></th>
            </tr>
            </thead>
            <tbody id="tbody">
<!--            <tr>-->
<!--                <th>1</th>-->
<!--                <td class="income">доход</td>-->
<!--                <td>зарплата</td>-->
<!--                <td>500$</td>-->
<!--                <td>11.09.2022</td>-->
<!--                <td></td>-->
<!--                <td>-->
<!--                    <div class="d-flex">-->
<!--                        <a href="#" id="delete-1" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="me-3"><img src="/images/trash-icon.png" alt="удалить"></a>-->
<!--                        <a href="#/edit-p&l" id="edit-1"><img src="/images/pen-icon.png" alt="редактировать"></a>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>



