<div class="d-flex flex-column flex-shrink-0 bg-body sidebar">
    <a href="#/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="logo" src="/images/logo.png" alt="логотип">
    </a>
    <hr>
    <div class="d-flex flex-column flex-shrink-0 p-3 mb-auto menu">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item" id="main">
                <a href="#/" class="nav-link link-body-emphasis">
                    <img src="/images/home-icon-dark.png" alt="Главная" style="vertical-align: inherit;">
                    Главная
                </a>
            </li>

            <li class="nav-item" id="pl">
                <a href="#/p&l" class="nav-link link-body-emphasis">
                    <img src="/images/p&l-icon.png" alt="Доходы и расходы">
                    Доходы & Расходы
                </a>
            </li>
            <li class="nav-item" id="categories-menu">
                <a href="#/earnings" class="nav-link arrow link-body-emphasis">
                    Категории
                </a>
            </li>
            <ul class="nav flex-column mb-auto sub-menu" style="display: none">
                <li class="nav-item">
                    <a href="#/earnings" class="nav-link">
                        Доходы
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#/expenses" class="nav-link expenses">
                        Расходы
                    </a>
                </li>
            </ul>
        </ul>
    </div>
    <div class="nav-link" id="balance">
        <strong>Баланс:</strong> <span id="balance-value">400$</span>
    </div>
    <hr>
    <div class="dropdown p-3 nav-link link-body-emphasis">
        <div id="user-info" class="dropup">
            <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/images/user-icon.png" alt="Аватар пользователя" width="32" height="32"
                     class="rounded-circle me-4">
                <span class="text-truncate" id="userFullName">RomanChernov</span>

            </a>
            <ul class="dropdown-menu shadow">
                <li><a href="#/logout" class="dropdown-item link-body-emphasis">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>