<main class="form-signin w-100 m-auto text-center main">
    <form>
        <img class="mb-5" src="static/images/logo.png" alt="Логотип">
        <h1 class="mb-3">Вход</h1>

        <div class="form-field">
            <div class="field-icon"><img src="static/images/form-field-email.png" alt=""></div>
            <input type="email" class="form-control" id="email" placeholder="Электронная почта">
            <div class="error">Введите правильную электронную почту</div>
        </div>
        <div class="form-field">
            <div class="field-icon"><img src="static/images/form-field-psw.png" alt=""></div>
            <input type="password" class="form-control" id="Password" placeholder="Пароль">
        </div>

        <div class="form-check text-start">
            <input class="form-check-input" type="checkbox" value="remember-me" id="checkbox">
            <label class="form-check-label" for="checkbox">
                Запомнить меня
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2 mt-3 btn-my disabled" id="process" type="submit">Войти</button>
        <div class="no-acc">Еще нет аккаунта? <a href="#/login">Пройдите регистрацию</a></div>
    </form>
</main>
