

.form-signin {
    max-width: 397px;
    padding: 0;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input{
    margin-bottom: 10px;
    border-left: none;
    border-radius: 0 4px 4px 0;
    color: #6C757D;
    font-size: 15px;
    line-height: 24px;
    height: 38px;
    padding: 7px 13px;
}
.form-signin input.form-check-input {
    height: 13px;
    width: 13px;
    border: 1px solid #CED4DA;
    padding: 0 0;
    margin-left: -12px  ;
}
.form-signin input.is-invalid {
    border-left: 1px solid #dc3545;
}
.form-signin .invalid-feedback {
    margin: -5px 0 5px 36px
}
.error {
    color: #dc3545;
    display: none;
    flex-basis: 500px;
    padding-left: 5px;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

h1 {
    color: #052C65;
    font-family: "Roboto Medium", sans-serif;
    font-size: 40px;
}

.form-check-label {
    color: #000;
    font-size: 12px;
    line-height: 23px;
    margin-left: 12px;
}
.form-field {
    display: flex;
}
.btn-my {
    font-family: "Roboto Medium", sans-serif;
    font-size: 15px;
}
.no-acc {
    text-align: left;
    color: #000;
    font-size: 12px;
    margin-top: 10px
}
.no-acc a {
    margin-left: 10px;
}
